<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>r1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>563</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>124</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>124</integer>
		</dict>
		<key>r2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>86</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>r3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>270</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>156</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>156</integer>
		</dict>
		<key>r4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>141</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>89</integer>
			<key>originalHeight</key>
			<integer>141</integer>
		</dict>
		<key>r5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>126</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>87</integer>
			<key>originalHeight</key>
			<integer>126</integer>
		</dict>
	</dict>
</dict>
</plist>